*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}





/* braket fan cover page */

header {
    background-color: #f5f0ed;
   padding: 10px 85px 10px 55px ;
   

  }
  
  .navbar {
    display: flex;
    align-items: center;
  }
  .fan-text {
    font-size: 38px;
    color: #00555A;
    font-weight: bold;
}
.navbar img {
    width: 55px; 
    height: auto;
    animation: spin 2s linear infinite;
    
}
@keyframes spin {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(360deg); 
    }
}
.search-bar{
    margin-left: auto;
    padding-left: 15px;
    width: 570px;
    height: 45px;
    border: 1px solid black;
    border-radius: 50px;
}
  .search-bar input[type="text"] {
    padding: 10px;
    width: 520px;
  border: none;
   outline: none;
    background-color: transparent;
    font-size: 16px;
  }
  .fa-solid{
    color: black;
    cursor: pointer;
  }

  
  /* Media queries for responsive design */
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
    .search-bar {
      margin-top: 10px;
    }
  }
  @media (max-width: 480px) {
   .navbar{
    flex-direction: column;
   }
    .search-bar {
      margin-left: 10px; 
      width:350px ;
    }
  
    .search-bar input[type="text"] {
      font-size: 12px;
      width: 300px;
    }
  }
  
  


  
  .nav-links {
    list-style: none;
    display: flex;
   
   
  }
  
  .nav-links li {
    margin-right: 40px; 
  }
  
  .nav-links li a {
    color: #00555A;
    text-decoration: none;
    font-size: 18px;
    /* transition: color 0.3s ease; */
  }
  
  .nav-links li a:hover {
    color: #00555A;
    text-decoration: underline;
  }

  
  
  /* Media Queries for Tablet */
  @media (max-width: 768px) {
    .nav-links {
      flex-direction: column; 
      align-items: center;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  }
  
  /* Media Queries for Mobile */
  @media (max-width: 480px) {
    .navbar2 {
      padding-top: 10px; 
    }
  
    .nav-links li {
      margin: 8px 0; 
    }
  }

.pic-container{
    position: relative;
    text-align: center;
}
.pic-container img{
    height: 600px;
    width: 80%;
}






 /* braket fan cards section */


.container{
    background-color: gray;
}



.row
{
  
   display: flex;
   justify-content: space-around;
   padding: 30px;
    gap: 3%;
   
   width: 100%;
   

}


.column3{
   
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

}
.column3 img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 91%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: 0.1s linear;

}
.layer:hover {
    background: rgba(13, 105, 167, 0.699);
}
.layer a{
    width: 100%;
     font-weight: 500;
     font-size: 25px;
     color: #fff;
     position: absolute;
     transform: translatex(-50%);
     bottom: 0;
     left: 80%;
   
     transition: 0.5s linear ;
     opacity: 0;
 
     text-decoration: none;
     /* s */
     
}
.layer:hover a{
    bottom: 49%;
    opacity: 1;
  

}

@media(max-width:700px)
{
    .row{
        flex-direction: column;
    }
 

}
