* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  :root{
    --main-color: #00555a;
    --text-color: white;
  }
  
  header {
    background-color:var(--main-color);
   padding: 8px 85px 10px 55px ;
   

  }
  
  .navbar {
    display: flex;
    align-items: center;
  }
  .fan-text {
    font-size: 42px;
    color:var(--text-color);
    font-weight: bold;
}
.navbar img {
    width: 60px; 
    height: auto;
    animation: spin 2s linear infinite;
    
}
@keyframes spin {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(360deg); 
    }
}
.search-bar{
    margin-left: auto;
    padding-left: 15px;
    width: 570px;
    height: 45px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: white;
}
  .search-bar input[type="text"] {
    padding: 10px;
    width: 520px;
  border: none;
   outline: none;
    background-color: transparent;
    font-size: 16px;
  }
  .fa-solid{
    color: black;
    cursor: pointer;
  }

  
  /* Media queries for responsive design */
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
    .search-bar {
      margin-top: 10px;
    }
  }
  @media (max-width: 480px) {
   .navbar{
    flex-direction: column;
   }
    .search-bar {
      margin-left: 10px; 
      width:350px ;
    }
  
    .search-bar input[type="text"] {
      font-size: 12px;
      width: 300px;
    }
  }




  .navbar2{
    padding-top: 5px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
justify-content: center;
   
   
  }
  
  .nav-links li {
    margin-right: 30px; 
  }
  
  .nav-links li a {
    color:var(--text-color);
    text-decoration: none;
    font-size: 18px;
    transition:  0.3s ease;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.47);
    
    padding: 10PX;
  }

  
  
  /* Media Queries for Tablet */
  @media (max-width: 768px) {
    .nav-links {
      flex-direction: column; 
      align-items: center;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  }
  
  /* Media Queries for Mobile */
  @media (max-width: 480px) {
    .navbar2 {
      padding-top: 10px; 
    }
  
    .nav-links li {
      margin: 8px 0; 
    }
  }
  


  .row3
  {
    
     display: flex;
     justify-content: space-around;
     padding: 20px;
     width: 100%;
  
    
  
     
  }
  .column4{
  
  padding: 20px 0;
  
  
  }  
  
  
  
  
    .cards1{
      width:550px;
      height: auto;
      position: relative;
      padding: 20px;
  }
  .cards1 .image{
   width: 100%; 
   opacity: 0.9;
  }
  .cards1 p{
      
      padding-top: 5px;
      letter-spacing: 0.3px;
      line-height: 2rem;
      
      font-size: 20px;   
  }
  .cards1 h1{
      font-size: 45px;
      padding: 39px 0;
      color: #00555a;
     
  }
  .imgtop2{
      position:absolute;
      width: 100%; 
      left: 0;
      top: 0;
      opacity: 0;  
      transition: all 0.5s;
  }
  .imgtop2:hover{
      opacity: 1;
  }
  
.text{
  text-align: center;
  padding: 40px 0;
}

.text h1{
  
  font-size: 45px;
  padding: 20px;
  color: #00555a;
 
}
.text p
{


padding: 15px 0;
letter-spacing: 0.3px;
line-height: 2rem;

font-size: 18px;   
}




  .main-cards{
    
    width: 100%; 
     
    padding: 30px 55px;
    margin-top: 35px;
    color: #121212BF;
   
}

.row4{
 display: flex;
 align-items: center;

}
.column5{
    width:100%;
   
    position: relative;
}
.column5 .imge{
 width: 200px; 
 opacity: 0.9;
}

.imgtop1{
    position:absolute;
    width:200px; 
    left: 0;
    top: 0;
    opacity: 0;  
    transition: all 0.5s;
}
.imgtop1:hover{
    opacity: 1;
}














.footer{
  width: 100%;
  text-align: center;
  padding: 50px 0;
  font-size: 14px;
  background-color: #00555a;
  color: #fff;

}
.footer h4{
  font-size: 18px;
   margin-bottom: 25px;
   margin-top: 20px;
   font-weight: 600;
}
.icons .fa-brands{

margin: 0 10px;
cursor: pointer;
padding: 18px 0;
height: 40px;

}