*{
    box-sizing: border-box;
    margin: 0%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/home\ page.jfif);
    background-position: center;
    background-size: cover;
    position: relative;
   
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
 


}
.image{
    width: 50px;
    height: 50px;

}
h1{
    color: white;
    font-size: 18px;
   
}
.navbar{
    display: inline-block;
    padding: 8px 10px;
    position: relative;
    flex: 1;
    text-align: right;
   


}
.navbar a{
       color: white;
       text-decoration: none;
       font-size: 18px;
       margin: 25px;
       transition: border 0.5s linear;

}
.navbar a:hover{
    border-bottom: 1px solid red;
    padding-bottom:8px ;

}


.text{
    width: 90%;
    color:white  ;
   text-align: center;
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
 }
 .text h1{
         font-size: 65px;
        
 }
 .text p{
    font-size: 18px;
  
 }
 .btn{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    font-size: 15px;
    background: transparent;
    cursor: pointer;
    padding: 12px 34px;
    display: inline-block;

 }
 .btn:hover{
    background-color: red;
    border: 1px solid red;
    transition: 1s linear;
 }
 

